@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:wght@400;500;600&=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*                         Reusable Code                          */

:root{
    
    --landing-title-color: #ffff;
    --body-text-color: black;


    --title-font: "Dancing Script", cursive;

    --body-font: "Lora", serif;

    --landing-para-size: 1.4rem;
    --landing-title-size: 5rem;
    --body-font-size: 18px;
    --smallest-body-size: 12px;
    --h2-subtitle-size: 2rem;
}

/*                          General Code                            */

.flex{
    display: flex;
}

body{
    font-family: var(--body-font);
}

li{
    list-style: none;
    
}

a{
    text-decoration: none;
}

html{
    transition: .5s ease-in;
    scroll-behavior: smooth;
}










.moblie__container{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.5s ease;
    transform: translateY(-380px);
}

input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffff;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    top: 20px;
    left: 15px;
    box-shadow: 0,0,15px rgba(0,0,0,0.3);
    display: none;
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 1.5rem;
    background-color: #800000;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top__line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .middle__line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottom__line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top__line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom__line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle__line{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~.moblie__container{
    transform: translateY(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.nav__container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem 0 0 0;
}

.nav__menu{
    display: flex;
}

.nav__menu p{
    color: #ffff;
    margin-left: 25px;
    display: none;
}

.nav__menu ul{
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.nav__menu ul li a{
    color: #ffff;
    margin-left: 20px;
}

.mobile-nav-toggle{
    display: none;
}


.social__media-links{
    width: 10%;
    margin-right: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

.icons{
    font-size: 20px;
    color: #fff;
}

.landing__page{
    height: 100vh;
    background-image: url(./Photos/Rose\ Background.jpg);
}

.landing__page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.landing__page-title{
    font-size: var(--landing-title-size);
    color: var(--landing-title-color);
    font-family: var(--title-font);
    position: relative;
    bottom: 70px;
}

.landing__page-container p{
    color: var(--landing-title-color);
    font-size: var(--landing-para-size);
    text-align: center;
    position: relative;
    bottom: 35px;
}

#about{
    padding: 70px 30px;
    color: #800000;
}

.about__info{
    gap: 3rem;
    margin: 0 6rem;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.about__info-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.about__info-container h2{
    margin-bottom: 2rem;
    font-size: var(--h2-subtitle-size);
}

.about__btn{
    padding: 1rem 2rem;
    border-radius: 50px;
    margin-top: 2rem;
    background: #800000;
    color: #ffff;
    font-family: var(--body-font);
    cursor: pointer;
}

.about__btn:hover{
    background: pink;
    color: #800000;
    transition: ease-in-out .3s;
}

.about__img{
    width: 400px;
    height: 300px;
}

#products{
    height: 100vh;
    padding: 5rem 5vh 5vh 5vh;
    background: pink;
    color: rgb(180, 1, 1);
}

.products__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8rem;
    text-align: center;
    line-height: 1.5rem;
}

.products__container h2{
    font-size: var(--h2-subtitle-size);
    margin-bottom: 20px;
}


.slider__container{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 300px !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }


#delivery{
    padding: 5rem 30px 5rem 30px;
    color: #800000;
}

.delivery__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.delivery__container h2{
    margin-bottom: 2rem;
    font-size: var(--h2-subtitle-size);
}
.delivery__container p{
    margin: 0 2rem;
    line-height: 1.7rem;
}

#contact{
    min-height: 70vh;
    display: flex;
    background: rgba(245, 245, 245, 0.283);
    color: #800000;
}

.contact__container{
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}

.contact__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--h2-subtitle-size);
}

.contact__info div{
    display: flex;
    flex-direction: column;
    font-size: var(--body-font-size);
}
.contact__info p{
    margin-top: 2rem;
}

#footer{
    background: rgb(0, 0, 0);
    min-height: 20vh;
    padding: 2rem 30px;
    color: #ffff;
}

.footer__container{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.footer__container p{
    text-align: center;
    margin: 25px 0;
}

.footer__icons{
    display: flex;
    gap: 2rem;
}

.footer__logo{
    width: 80px;
    height: 80px;
    filter: invert(30%);
}


#gallery__body{
    background: pink;
}

.gallery__header{
    height: 20vh;
}

.gallery__title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.gallery__title a{
    margin-right: 15px;
}

.gallery__prev{
    color: black;
    font-size: 20px;
}

.gallery__container{
    padding: 0 20px 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 40px auto;
}

.gallery__container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.gallery__container ul li{
    background: #fff;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
}

.gallery__container ul li.active{
    background-image: url(./Photos/Rose\ Background.jpg);
    color: #fff;
}

.gallery__product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery__product .item__box{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
}

.gallery__product .item__box.hide{
    display: none;
}

.gallery__product .item__box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (min-width: 1024px){
    .moblie__container{
        height: 0;
        transform: none;
    }
    input:checked ~.moblie__container{
        transform: none;
    }
    .about__info-container{
        padding: 0 4rem;
    }
    .products__container{
        margin: 0 12rem;
    }
    .delivery__container{
        margin: 0 9rem;
    }
}
@media screen and (min-width: 800px){
    .nav__container{
        padding: 3rem 0 0 0;
    }
} 
    

@media screen and (min-width: 431px){
    .moblie__container{
        height: 0;
        transform: none;
    }
    input:checked ~.moblie__container{
        transform: none;
    }
}

@media(max-width: 430px){
    .toggle{
        display: block;
    }
    
    .social__media-links{
        display: none;
    }
    .nav__container{
        height: 30vh;
        justify-content: center;
        padding: 0;
    }
    .nav__menu{
        height: 30vh;
        width: 100%;
        background: hsla(0, 0%, 48%, 0.32);
        backdrop-filter: blur(1rem);
        position: absolute;
        transition: 0.5s ease;
    }
    .nav__menu ul{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        margin: 0;
        width: 100%;
        right: 15px;
    }
    .landing__page-title{
        font-size: 4rem;
    }
    .about__info{
        margin: 0 1.5rem;
        display: flex;
        flex-direction: column;
    }
    
    .about__img{
        width: 300px;
        height: 300px;
    }
    #products{
        height: 100vh;
        padding: 5rem 30px;
    }

    .products__container{
        margin: 0 1.5rem;
    }

    .slider__container{
        height: auto;
    }
    .contact__container{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
}

@media(max-width: 340px){
    .toggle{
        display: block;
    }
    .social__media-links{
        display: none;
    }
    .nav__container{
        height: 30vh;
        justify-content: center;
        padding: 0;
    }
    .nav__menu{
        height: 30vh;
        width: 100%;
        background: hsla(0, 0%, 48%, 0.32);
        backdrop-filter: blur(1rem);
        position: absolute;
        transition: 0.5s ease;
    }
    .nav__menu p{
        display: none
    }
    .nav__menu ul{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        margin: 0;
        width: 100%;
        right: 15px;
    }

    .social__media-links{
        display: none;
    }
    

    .landing__page-title{
        font-size: 3rem;
    }
    .landing__page-container p{
        font-size: 18px;
    }

    .flex{
        display: block;
    }

    .about__info{
        margin: 0 1.5rem;
        display: flex;
        flex-direction: column;
    }
    
    .about__img{
        width: 300px;
        height: 300px;
    }

    #products{
        height: 100vh;
        padding: 5rem 30px;
    }

    .products__container{
        margin: 0 1.5rem;
    }

    .slider__container{
        height: auto;
    }

    #delivery{
        padding: 5rem 15px ;
    }

    .contact__container{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .contact__info{
        margin-bottom: 2rem;
    }
    iframe{
        width: 280px;
    }

    .footer__container{
        display: flex;
    }
}

